/* Lake syntax colors. */

/* Background */ .bg { color:#d5d8db;background-color:#212730; }
/* PreWrapper */ .chroma { color:#d5d8db;background-color:#212730;-webkit-text-size-adjust:none; }
/* Other */ .chroma .x { color:#d5d8db }
/* Error */ .chroma .err { color:#e8704f }
/* CodeLine */ .chroma .cl { color:#d5d8db }
/* LineLink */ .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
/* LineTableTD */ .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
/* LineTable */ .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
/* LineHighlight */ .chroma .hl { background-color:#252f3d }
/* LineNumbersTable */ .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#757d89 }
/* LineNumbers */ .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#757d89 }
/* Line */ .chroma .line { display:flex; }
/* Keyword */ .chroma .k { color:#6a9fcc }
/* KeywordConstant */ .chroma .kc { color:#e1b06e }
/* KeywordDeclaration */ .chroma .kd { color:#6a9fcc }
/* KeywordNamespace */ .chroma .kn { color:#6a9fcc }
/* KeywordPseudo */ .chroma .kp { color:#6a9fcc }
/* KeywordReserved */ .chroma .kr { color:#6a9fcc }
/* KeywordType */ .chroma .kt { color:#a3a473 }
/* NameAttribute */ .chroma .na { color:#a3a473 }
/* NameClass */ .chroma .nc { color:#e1b06e }
/* NameConstant */ .chroma .no { color:#e1b06e }
/* NameDecorator */ .chroma .nd { color:#6a9fcc;font-weight:bold }
/* NameEntity */ .chroma .ni { color:#a3a473 }
/* NameException */ .chroma .ne { color:#e8704f }
/* NameLabel */ .chroma .nl { color:#b86b52 }
/* NameNamespace */ .chroma .nn { color:#a3a473 }
/* NameOther */ .chroma .nx { color:#d5d8db }
/* NameProperty */ .chroma .py { color:#a3a473 }
/* NameTag */ .chroma .nt { color:#6a9fcc }
/* NameBuiltin */ .chroma .nb { color:#a3a473 }
/* NameBuiltinPseudo */ .chroma .bp { color:#a3a473 }
/* NameVariableClass */ .chroma .vc { color:#d5d8db }
/* NameVariableGlobal */ .chroma .vg { color:#d5d8db }
/* NameVariableInstance */ .chroma .vi { color:#d5d8db }
/* NameVariableMagic */ .chroma .vm { color:#d5d8db }
/* NameFunction */ .chroma .nf { color:#6a9fcc }
/* NameFunctionMagic */ .chroma .fm { color:#6a9fcc }
/* LiteralDate */ .chroma .ld { color:#d5d8db }
/* LiteralString */ .chroma .s { color:#a3a473 }
/* LiteralStringAffix */ .chroma .sa { color:#b86b52 }
/* LiteralStringBacktick */ .chroma .sb { color:#a3a473 }
/* LiteralStringChar */ .chroma .sc { color:#a3a473 }
/* LiteralStringDelimiter */ .chroma .dl { color:#6a9fcc }
/* LiteralStringDoc */ .chroma .sd { color:#9fa4ab }
/* LiteralStringDouble */ .chroma .s2 { color:#a3a473 }
/* LiteralStringEscape */ .chroma .se { color:#b86b52 }
/* LiteralStringHeredoc */ .chroma .sh { color:#9fa4ab }
/* LiteralStringInterpol */ .chroma .si { color:#e1b06e }
/* LiteralStringOther */ .chroma .sx { color:#a3a473 }
/* LiteralStringRegex */ .chroma .sr { color:#b86b52 }
/* LiteralStringSingle */ .chroma .s1 { color:#a3a473 }
/* LiteralStringSymbol */ .chroma .ss { color:#6a9fcc }
/* LiteralNumber */ .chroma .m { color:#e1b06e }
/* LiteralNumberBin */ .chroma .mb { color:#e1b06e }
/* LiteralNumberFloat */ .chroma .mf { color:#e1b06e }
/* LiteralNumberHex */ .chroma .mh { color:#e1b06e }
/* LiteralNumberInteger */ .chroma .mi { color:#e1b06e }
/* LiteralNumberIntegerLong */ .chroma .il { color:#e1b06e }
/* LiteralNumberOct */ .chroma .mo { color:#e1b06e }
/* Operator */ .chroma .o { color:#b86b52;font-weight:bold }
/* OperatorWord */ .chroma .ow { color:#b86b52;font-weight:bold }
/* OperatorReserved */ .chroma .or { color:#b86b52;font-weight:bold }
/* Comment */ .chroma .c { color:#9fa4ab;font-style:italic }
/* CommentHashbang */ .chroma .ch { color:#9fa4ab;font-style:italic }
/* CommentMultiline */ .chroma .cm { color:#9fa4ab;font-style:italic }
/* CommentSingle */ .chroma .c1 { color:#9fa4ab;font-style:italic }
/* CommentSpecial */ .chroma .cs { color:#9fa4ab;font-style:italic }
/* CommentPreproc */ .chroma .cp { color:#b86b52;font-style:italic }
/* CommentPreprocFile */ .chroma .cpf { color:#b86b52;font-weight:bold;font-style:italic }
/* GenericDeleted */ .chroma .gd { color:#e8704f;background-color:#3a2525 }
/* GenericEmph */ .chroma .ge { font-style:italic }
/* GenericError */ .chroma .gr { color:#e8704f }
/* GenericHeading */ .chroma .gh { color:#e1b06e;font-weight:bold }
/* GenericInserted */ .chroma .gi { color:#5db87a;background-color:#24382d }
/* GenericOutput */ .chroma .go { color:#d5d8db }
/* GenericPrompt */ .chroma .gp { color:#d5d8db }
/* GenericStrong */ .chroma .gs { font-weight:bold }
/* GenericSubheading */ .chroma .gu { color:#e1b06e;font-weight:bold }
/* GenericTraceback */ .chroma .gt { color:#e8704f }
/* GenericUnderline */ .chroma .gl { text-decoration:underline }
