{{- range .nodes.ByWeight -}}
  {{- $isCurrent := eq .RelPermalink $.currentPage.RelPermalink -}}
  {{- $isTop := eq $.level 0 -}}
  {{- if .IsSection -}}
    <details class="tree-node" open>
      <summary class="tree-summary">
        <span class="material-symbols-outlined tree-icon{{ if not $isTop }} tree-icon--small{{ end }}">expand_more</span>
        <a class="tree-link {{ if $isTop }}tree-link--section{{ else }}tree-link--nested{{ end }}{{ if $isCurrent }} tree-link--current{{ end }}" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      </summary>
      {{- with .Pages.ByWeight -}}
        <div class="tree-children{{ if not $isTop }} tree-children--nested{{ end }}">
          {{ partial "explorer-tree.html" (dict "nodes" . "level" (add $.level 1) "currentPage" $.currentPage) }}
        </div>
      {{- end -}}
    </details>
  {{- else if $isTop -}}
    <div class="tree-node">
      <a class="tree-link{{ if $isCurrent }} tree-link--current{{ end }}" href="{{ .RelPermalink }}">
        <span class="material-symbols-outlined tree-icon">chevron_right</span>
        {{ .LinkTitle }}
      </a>
    </div>
  {{- else -}}
    <a class="tree-link tree-link--leaf{{ if $isCurrent }} tree-link--current{{ end }}" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
  {{- end -}}
{{- end -}}
